* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #a00884;
    margin: 0px;
    color: #ffffff;
}
.container {
    max-width: 1150px;
    margin: auto;
}
.grid {
    display: grid;
}
.grid-2 {
    grid-template-columns: 1fr 2fr;
}
.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.topmenu {
    text-align: right;
}
.topmenu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
}
.topmenu ul li {
    display: inline-block;
}
.topmenu ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px 11px 20px;
    font-size: 14px;
}
.topmenu ul li a:hover {
    background-color: black;
}
.topmenu ul ul {
    display: none;
    position: absolute;
    background-color: #eeeeee;
    width: 250px;
}
.topmenu li:hover ul {
    display: block;
}
.topmenu li:hover ul li {
    display: block;
    border-bottom: 1px solid #dddddd;
}
.topmenu li:hover ul li a {
    color: #333333;
    text-align: left;
    background-color: #eeeeee;
}
.topmenu li:hover ul li a:hover {
    color: #ffffff;
    background-color: #a00884;
}
.topmenu li:hover a {
    background-color: black;
}
.btn {
    display: inline-block;
    background-color: #cccccc;
    color: #333333;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    font-size: 14px;
}
.btn-sm {
    font-size: 12px;
    padding: 3px 10px 3px 10px;
}
.btn-lg {
    font-size: 18px;
    padding: 20px 30px 20px 30px;
}
.btn-orange {
    background-color: #FF7518;
    color: #ffffff;
}
.icon-sm {
    font-size: 10px;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.topmenu ul li.hide-767 {
    display: inline-block;
}
.hide-767 {
    display: inline-block;
}
.show-767 {
    display: none;
}
.jumbotron {
    background: linear-gradient(to bottom, #E2EBF0, #CFD9DF);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.jumbotron h1 {
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    line-height: 1.2;
    color: #333333;
}
.font-weight-light {
    font-weight: 100;
}
.content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.lead {
    font-size: 20px;
}
h1.bigger {
    font-size: 40px;
}
.footer {
    text-align: center;
    font-size: 14px;
    color: #A699B0;
}
.footer a {
    text-decoration: none;
    color: #279AEC;
}
.footer a:hover {
    text-decoration: underline;
}
.quiz {
    
}
.quiz .quiz-step {
    margin-top: 20px;
}
.quiz .quiz-step ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.quiz .quiz-step ul li {
    display: inline-block;
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: #999999;
}
.quiz .quiz-step ul li.active {
    background-color: #AAAAAA;
    color: white;
}
hr {
    border-top: 1px solid #E6E6E6;
    border-bottom: none;
}
@media (max-width: 1199px) {
    .container {
        max-width: 950px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 740px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 95%;
    }
    .grid-2 {
        grid-template-columns: 2fr 1fr;
    }
    .topmenu ul li.hide-767 {
        display: none;
    }
    .hide-767 {
        display: none;
    }
    .show-767 { 
        display: inline-block;
    }
    .topmenu li:hover ul {
        display: block;
        margin-left: -200px;
    }
    .jumbotron h1 {
        font-size: 40px;
    }
}