body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    margin: 0px;
    color: #ffffff;
}
.container {
    max-width: 1150px;
    margin: auto;
}