body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    margin: 0px;
    color: #ffffff;
}
.container {
    max-width: 1150px;
    margin: auto;
}
.grid {
    display: grid;
}
.grid-2 {
    grid-template-columns: 1fr 2fr;
}
.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn {
    display: inline-block;
    background-color: #cccccc;
    color: #333333;
    text-decoration: none;
    padding: 3px 10px 3px 10px;
}
.btn-sm {
    font-size: 12px;
}
.btn-orange {
    background-color: #FF7518;
    color: #ffffff;
}
.btn-lg {
    font-size: 18px;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}